body {
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.repo-links

.repo-links a {
  font-weight: bold;
  
}

.blue {
  background-color: aliceblue;
  border-radius: 8px;
}

.col-6 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 8px;
}

.blue-box {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(179, 219, 255);
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.blue-box h2 {
  font-size: x-large;
}

.card-body h2 {
  font-size: x-large;
}

.card {
  border: white;
}

.footer {
  position: bottom;
  margin-top: 10px;
  width: 100%;
  color: black;
  text-align: right;
  font-size: small;
}

.label {

  padding: 4px;
  font-size: 80%;
  font-weight: 700;
  color: #fff;
  text-align: center;
  border-radius: 4px;
}

.label-blue {
  background-color: rgb(46, 108, 223);
}

.label-red {
  background-color: crimson;
}