body {
  margin-top: 30px;
  margin-bottom: 30px;
}


.blue {
  background-color: aliceblue;
}

.col-6 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 8px;
}